<h2>Register</h2>

<%= render 'partials/errors' %>

<form action="<%= users_path %>" method="post">
    <input type="hidden" name="authenticity_token" value="<% form_authenticity_token %>">

    <label for="">First Name</label>
    <input type="text" name="user[fiest_name]">

    <label for="">Last Name</label>
    <input type="text" name="user[last_name]">

    <label for="">Email</label>
    <input type="email" name="user[email]">

    <label for="">Password</label>
    <input type="password" name="user[password]">

    <label for="">Password Confirmation</label>
    <input type="password" name="user[password_confirmation]">

    <button type="submit">Register</button>

</form>