<div>
	
	<div>
		<a href="/ideas/index">Bright Ideas</a>
		<a href="/logout">Logout</a>

		<h1> <%= @user.alias %> </h1>
	</div>

	<div>
		<h3>Total number of members: <%= @number_of_likes_by_user %> </h3>
			
	</div>

</div>